#imgsombra {
    box-shadow: 0 0 3px #343A40,
                0 0 3px #343A40;
 }
 .nosotros>h1.text-warning {
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: 'Staatliches', cursive;
    font-size: 5rem;
    text-shadow: 0 0 3px #343A40,
                0 0 3px #343A40;
 }