body{
  background-color: #FFFDFA;
}
footer{
  background-color: #3A6EC2;
}
.post {
    display: flex;
    overflow-x: auto;
  }
.post::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(39, 39, 37); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b3735; 
  }
.bg-nav{
  background-color: #F2B749

}
  #logo {
    margin: 5px;
    max-width: 40px;
    border-radius: 100%;
 }

  .hero {
    background-image: url(https://www.altonivel.com.mx/wp-content/uploads/2017/02/Claves-para-viajar.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1 {
  font-family: 'Staatliches', cursive;
  margin-left: 10%;
  font-size: 4rem;
  color: #F2E74B;

}

#imgsombra {
  box-shadow: 0 0 3px #343A40,
              0 0 3px #343A40;
}


.nosotros h1 {
font-family: 'Staatliches', cursive;
font-size: 4rem;
color: rgb(229, 233, 15);

}
.nosotros>h1.text-warning {
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  text-shadow: 0 0 3px #343A40,
              0 0 3px #343A40;
}

.ulsinstyle{
  list-style: none;
 }
 .tam1 i{
 font-size: 50px;
 }

 .perfil {
  width: 100px;
  height: 100px;
  border-radius: 50px;
 }

